body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background-crew-desktop.jpg);
    /* padding: 4rem 4rem; */
}
.main-container{
    display: flex;
    flex-direction: column;
    margin: 7rem;
    /* max-width: 600px; */
    padding: 7rem;
}
.container{
    display: flex;
    width: 100%;
    border-radius: 0.75rem;
    border: 1px solid grey;
    background-image: url(pattern-background-desktop.svg);

}
#add-transaction{
    flex-grow: 1;
    border-radius: 0.75rem;
    border: 1px solid grey;
    padding: 0rem 4rem 3rem 4rem;
    width: 50%;
    justify-content: space-between;
}
#transaction-list{
    flex-grow: 1;
    border-radius: 0.75rem;
        /* border: 1px solid grey; */
    /* padding: 0rem 4rem 3rem 4rem; */
    width: 50%;
}
#add-transaction input,
#add-transaction select {
    margin-bottom: 10px;
    /* padding: 1rem 1.5rem; */
    width: 100%;
}

#add-button {
    padding: 5px 10px;
    margin-top: 1rem;
}


h1{
    color: aqua;
    text-align: center;
}
h2 {
    text-align: center;
    color: black;
}



ul {
    list-style-type: none;
    justify-content: space-between;
    margin-right: 1rem ;
    
}

li {
    margin-bottom: 10px;
    /* border: 1px solid grey; */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;


   
}
.income {
    background-color: #b5e0a3;
    color:rgb(31, 31, 141);
}
.expense {
    background-color: #f2dede;
    color: #a94442;
}

